fastapi
uvicorn
asyncpg
# more requirements
redis
minio
pandas
sqlalchemy
psycopg2-binary
pyarrow
pika
beautifulsoup4
requests
websockets
vaderSentiment
prometheus-fastapi-instrumentator
fastapi-mail
google-generativeai
